* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
}

.left-col, .main-col, .side-col, .right-col {
    height: 100%;
}

.main, .submain, .side-request, .side-your-connection, .side-your-connection-bottom {
    border-style: solid;
    border-color: grey;
}

.header, .maincolheader, .sidecolheader {
    background-color: black;
    height: 7%;
}

.left-col {
    flex: 1;
    background-color: rgb(211, 211, 211);
}

.right-col {
    flex: 1;
    background-color: rgb(211, 211, 211);
}




.main-col {
    flex: 3;
    background-color: rgb(211, 211, 211);
}

.maincolheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maincolheader, h2 {
    color:white;
    font-family: sans-serif;

}

.main {
    background-color: white;
    width: 98%;
    height: 300px;
    margin-top: 8%;
}

.mainheader {
    background-color: rgb(54, 204, 209);
    width: 100%;
    height: 85px;
}

.mainheader img {
    width: 90px;
    height: 90px;
    margin: 41px 0% 0% 4%;
}

.maintext {
    margin: 50px 0px 0px 4%;
}

.mainlocation {
    display: flex;
    margin: 10px 0px 10px 0px;
}

.mainlocation img{
    width: 10px;
    height: 20px;
    margin-right: 9px;
}

.editprofile {
    padding-top: 10px;
}

.editprofile img {
    width: 15px;
    height: 15px;
}


.submain {
    background-color: white;
    width: 98%;
    height: 180px;
    margin-top: 30px;
}

.submainheader {
    background-color:rgb(66, 77, 88);
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}

.submainheader p {
    color: white;
    margin-left: 4%;
    font-family: sans-serif;
}

.submaintext {
    margin: 3% 0% 0% 4%;
}

.submaintext p {
    margin-bottom: 30px;
}




.side-col {
    flex: 2;
    background-color: rgb(211, 211, 211);
}

.sidecolheader {
    display: flex;
    align-items: center;
    justify-content: right;
}

button {
    background-color: aqua;
    color: white;
    width: 70px;
    height: 35px;
    border-color: rgb(78, 76, 76);
}

.side-request {
    background-color: white;
    width: 90%;
    height: 150px;
    margin-top:12%;
    margin-left: 8%;
}

.side-request-header, .side-your-connection-header {
    background-color: rgb(66, 77, 88);
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

.number-of-requests {
    background-color: rgb(174, 177, 196);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
}

.side-request-header h3, .side-your-connection h3 {
    color: white;
    font-family: sans-serif;
}

.first-profile-request, .second-profile-request, .side-your-connection-first-profile, .side-your-connection-second-profile, .side-your-connection-third-profile, .side-your-connection-fourth-profile {
    width: 100%;
    display: flex;
    margin: 14px 0px 0px 10px;
    align-content: center;
}

.first-profile-request img, .second-profile-request img, .side-your-connection img {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}


.first-profile-request p, .second-profile-request p, .side-your-connection-first-profile p, .side-your-connection-second-profile p, .side-your-connection-third-profile p, .side-your-connection-fourth-profile p{
    margin-top: 5px;
}

#first-accept {
    margin-left: 83px;
}

#second-accept {
    margin-left: 88px;
}


.side-your-connection {
    background-color: white;
    width: 90%;
    height: 240px;
    margin-left: 8%;
    margin-top: 30px;
}

.number-of-your-connections {
    background-color: rgb(174, 177, 196);
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    border-radius: 50%;
    height: 30px;
    width: 50px;
}

.number-of-your-connections p {
    margin-top: 5px;
}

.side-your-connection-bottom {
    background-color: white;
    display: flex;
    border-top:grey;
    border-style: solid;
    border-top: 0px;
    width: 90%;
    height: 35px;
    margin-left: 8%;
    align-items: center;
}

.side-your-connection-bottom a {
    margin-left: 10px;
}
















